* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white : #fff;
    --black : #000;

    --background : #d9e9ff;

    --graphite : #333333;
    --gray     : #cbcbcb;

    --pink : #ff0066;
    --blue : #32ccff;

    --body             : #ffff67;
    --shadow-edge      : #faa635;
    --shadow-occlusion : #dc662d;
    --drop-shadow      : #acc9e6;

    --light-brick-edge : #faab37;
    --dark-brick-edge  : #de6b2d;

    --standard-thickness: 1rem;
}