* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white : #fff;
    --black : #000;

    --background : #d9e9ff;

    --graphite : #333333;
    --gray     : #cbcbcb;

    --pink : #ff0066;
    --blue : #32ccff;

    --body             : #ffff67; /* - 1° #ffe94f */
    --shadow-edge      : #faa635; /* - 2° #ff9934 */
    --shadow-occlusion : #dc662d; /* - 2° #cc6733 */
    --drop-shadow      : #acc9e6;

    --light-brick-edge : #fad853;
    --dark-brick-edge  : #ea8338;

    --standard-thickness: 1rem;
}