/* Container */
.bill-cipher .body-bottom .arms {
    width: 100%;
    height: 7rem;

    max-width: 60%;
}



/* Arms */
.bill-cipher .body-bottom .arms .rl-arms {
    width: var(--standard-thickness);
    height: 10rem;

    background-color: var(--black);
}
.bill-cipher .body-bottom .arms .right-arm {
    float: left;
    border-bottom-left-radius: 12px;
}
.bill-cipher .body-bottom .arms .left-arm {
    float: right;
    border-bottom-right-radius: 12px;
}



/* Hands */
.bill-cipher .body-bottom .arms .right-arm .rl-hands,
.bill-cipher .body-bottom .arms .left-arm .rl-hands {
    width: 2.5rem;
    height: 2.5rem;

    background-color: var(--black);
    box-shadow: 0 0 0 0.938rem var(--background), 1.25rem 0 0 0.313rem var(--pink), -1.25rem 0 0 0.313rem var(--blue);

    position: relative;
    bottom: -7.8rem;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.bill-cipher .body-bottom .arms .right-arm .hand { right: 0; }
.bill-cipher .body-bottom .arms .left-arm .hand  { margin-left: -1.5rem; }



/* Wrist */
.bill-cipher .body-bottom .arms .right-arm .rl-wrists,
.bill-cipher .body-bottom .arms .left-arm .rl-wrists {
    width: var(--standard-thickness);
    height: 3rem;

    background-color: var(--black);

    position: relative;
    top: 4rem;
}
.bill-cipher .body-bottom .arms .right-arm .wrist { border-bottom-left-radius: 12px; }
.bill-cipher .body-bottom .arms .left-arm .wrist  { border-bottom-right-radius: 12px; }