.bill-cipher .body {
    width: 0;
    height: 0;
    
    border-left: 25rem solid transparent;
    border-right: 25rem solid transparent;
    border-bottom: 40rem solid var(--body);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}
.bill-cipher .body-bottom {
    width: 50rem;
    height: 0;

    border-top: 3.5rem solid var(--shadow-occlusion);
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;

    margin-top: 0.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}