/* Topper */
.bill-cipher .ldbp-topper {
    width: 17rem;
    height: 17rem;

    position: absolute;
    top: -14rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 500;
}
.bill-cipher .ldbp-topper .hat {
    width: 5rem;
    height: 100%;

    margin-bottom: -0.5rem;

    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.bill-cipher .ldbp-topper .hat-brim {
    width: 100%;
    height: 4rem;

    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.bill-cipher .dark .topper,
.bill-cipher .blue .topper,
.bill-cipher .pink .topper  { margin-top: 0.7rem; }



/* Shadow - (topper) */
.bill-cipher .light .body .top-hat-shadow {
    width: 0;
    height: 0;

    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-bottom: 4rem solid var(--shadow-edge);

    margin-top: 3.5rem;

    position: absolute;

    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}



/* Light */
.bill-cipher .light .topper .hat,
.bill-cipher .light .topper .hat-brim { background-color: var(--black); }



/* Dark */
.bill-cipher .dark .topper .hat,
.bill-cipher .dark .topper .hat-brim { background-color: var(--black); }



/* Blue */
.bill-cipher .blue .topper .hat,
.bill-cipher .blue .topper .hat-brim { background-color: var(--blue); }



/* Pink */
.bill-cipher .pink .topper .hat,
.bill-cipher .pink .topper .hat-brim { background-color: var(--pink); }