html, body { height: 100% }
body {
    width: 100vw;

    background-color: var(--background);

    display: flex;
    flex-direction: row;
    justify-content: center;
}
body main.bill-cipher {
    height: 80rem;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
body main.bill-cipher .bc-body {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;

    z-index: 50;
}



/**
 *  ROOT: 100% = 16px
 *
 *  93.75% = 15px
 *  87.50% = 14px
 *  81.25% = 13px
 *  75%    = 12px
 *  68.75% = 11px
 *  62.50% = 10px
 *  56.25% = 9px
 *  50%    = 8px
 *  46.875% = 7,5px
 *  43.75% = 7px
 *  40.625% = 6,5px
 *  37.50% = 6px
 *  31.25% = 5px
 *  25%    = 4px
 *  18.75% = 3px
 *  12.50% = 2px
 *  6.25%  = 1px
 */



/* Desktop */
@media (max-width: 1440px) { html { font-size: 46.875%; } }
@media (max-width:  820px) { html { font-size: 43.75%; } }
@media (max-width:  770px) { html { font-size: 40.625%; } }

/* Tablet */
@media (max-width:  720px) { html { font-size: 37.50%; } }
@media (max-width:  620px) { html { font-size: 31.25%; } }

/* Mobile */
@media (max-width:  520px) { html { font-size: 25%; } }
@media (max-width:  420px) { html { font-size: 18.75%; } }