/* LDBP */
.bill-cipher .light {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 400;
}
.bill-cipher .dark  {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    flex-wrap: nowrap;

    transform: scale(1.0050);
    -webkit-transform: scale(1.0050);
    -moz-transform: scale(1.0050);
    -ms-transform: scale(1.0050);
    -o-transform: scale(1.0050);

    z-index: 300;
}
.bill-cipher .blue  {
    margin-right: 4rem;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    flex-wrap: nowrap;

    transform: scale(1.0050);
    -webkit-transform: scale(1.0050);
    -moz-transform: scale(1.0050);
    -ms-transform: scale(1.0050);
    -o-transform: scale(1.0050);

    z-index: 200;
}
.bill-cipher .pink  {
    margin-left: 4rem;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    flex-wrap: nowrap;

    transform: scale(1.0050);
    -webkit-transform: scale(1.0050);
    -moz-transform: scale(1.0050);
    -ms-transform: scale(1.0050);
    -o-transform: scale(1.0050);

    z-index: 100;
}



/* Lightness */
.bill-cipher .light .body .lightness {
    width: 0;
    height: 0;

    border-left: 23.5rem solid transparent;
    border-right: 23.5rem solid transparent;
    border-bottom: 38rem solid var(--body);

    margin-top: 37.5rem;

    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}



/* Light */
.bill-cipher .light .body {
    width: 0;
    height: 0;

    border-left: 25rem solid transparent;
    border-right: 25rem solid transparent;
    border-bottom: 40rem solid var(--shadow-edge);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}
.bill-cipher .light .body-bottom {
    width: 50rem;
    height: 0;

    border-top: 3.5rem solid var(--shadow-occlusion);
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;

    margin-top: 0.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}



/* Dark */
.bill-cipher .dark .body {
    width: 0;
    height: 0;

    border-left: 26rem solid transparent;
    border-right: 26rem solid transparent;
    border-bottom: 41.5rem solid var(--black);

    margin-top: -1rem;
}
.bill-cipher .dark .body-bottom {
    width: 52rem;
    height: 0;

    border-top: 3.5rem solid var(--black);
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
}
.bill-cipher .dark .bb-complement {
    width: 46rem;
    height: 0;

    border-top: 1rem solid var(--black);
    border-left: 0.925rem solid transparent;
    border-right: 0.925rem solid transparent;
}



/* Blue */
.bill-cipher .blue .body {
    width: 0;
    height: 0;

    border-left: 26rem solid transparent;
    border-right: 26rem solid transparent;
    border-bottom: 41.5rem solid var(--blue);

    margin-top: -1rem;
}
.bill-cipher .blue .body-bottom {
    width: 52rem;
    height: 0;

    border-top: 3.5rem solid var(--blue);
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
}
.bill-cipher .blue .bb-complement {
    width: 46rem;
    height: 0;

    border-top: 1rem solid var(--blue);
    border-left: 0.925rem solid transparent;
    border-right: 0.925rem solid transparent;
}



/* Pink */
.bill-cipher .pink .body {
    width: 0;
    height: 0;

    border-left: 26rem solid transparent;
    border-right: 26rem solid transparent;
    border-bottom: 41.5rem solid var(--pink);

    margin-top: -1rem;
}
.bill-cipher .pink .body-bottom {
    width: 52rem;
    height: 0;

    border-top: 3.5rem solid var(--pink);
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
}
.bill-cipher .pink .bb-complement {
    width: 46rem;
    height: 0;

    border-top: 1rem solid var(--pink);
    border-left: 0.925rem solid transparent;
    border-right: 0.925rem solid transparent;
}