<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/pages/index.css">

    <link rel="stylesheet" type="text/css" href="styles/partials/topper.css">
    <link rel="stylesheet" type="text/css" href="styles/partials/body.css">
    <link rel="stylesheet" type="text/css" href="styles/partials/forehead-contour.css">
    <link rel="stylesheet" type="text/css" href="styles/partials/eye.css">
    <link rel="stylesheet" type="text/css" href="styles/partials/bow-tie.css">
    <link rel="stylesheet" type="text/css" href="styles/partials/bricks.css">
    <link rel="stylesheet" type="text/css" href="styles/partials/arms.css">
    <link rel="stylesheet" type="text/css" href="styles/partials/legs.css">
    <link rel="stylesheet" type="text/css" href="styles/partials/shadow.css">

    <title>Bill Cipher</title>
</head>
<body>
    <main class="bill-cipher glitch">
        <div class="bc-body slide-body">
            <div class="pink glitchTop">
                <div class="ldbp-topper topper">
                    <div class="hat"></div>
                    <div class="hat-brim"></div>
                </div>
                <div class="body"></div>
                <div class="body-bottom"></div>
                <div class="bb-complement"></div>
            </div>
            <div class="blue glitchBottom">
                <div class="ldbp-topper topper">
                    <div class="hat"></div>
                    <div class="hat-brim"></div>
                </div>
                <div class="body"></div>
                <div class="body-bottom"></div>
                <div class="bb-complement"></div>
            </div>
            <div class="dark">
                <div class="ldbp-topper topper">
                    <div class="hat"></div>
                    <div class="hat-brim"></div>
                </div>
                <div class="body"></div>
                <div class="body-bottom"></div>
                <div class="bb-complement"></div>
            </div>
            <div class="light">
                <div class="ldbp-topper topper">
                    <div class="hat"></div>
                    <div class="hat-brim"></div>
                </div>
                <div class="body">
                    <div class="lightness"></div>
                    <div class="top-hat-shadow"></div>
                    <div class="forehead-contour">
                        <div class="fc fc-1"></div>
                        <div class="fc fc-2"></div>
                    </div>
                    <div class="eye-container">
                        <div class="eyebrow"></div>
                        <div class="eye">
                            <div class="pupil slide-eye"></div>
                            <div class="direct-light slide-direct-light"></div>
                        </div>
                        <div class="eyelashes">
                            <div class="els els-1"></div>
                            <div class="els els-2"></div>
                            <div class="els els-3"></div>
                        </div>
                    </div>
                    <div class="bricks">
                        <div class="bks-vl bks-top">
                            <div class="line-v line-v-1 color-light"></div>
                            <div class="line-v line-v-2 color-light"></div>
                            <div class="line-v line-v-3 color-light"></div>
                            <div class="line-v line-v-4 color-light"></div>
                        </div>
                        <div class="bks-lh bks-lh-1">
                            <div class="connector connector-r"></div>
                            <div class="lhr color-dark"></div>
                            <div class="line-h color-light"></div>
                            <div class="lhl color-dark"></div>
                            <div class="connector connector-l"></div>
                        </div>
                        <div class="bks-vl bks-middle">
                            <div class="line-v line-v-1 color-dark"></div>
                            <div class="line-v line-v-2 color-light"></div>
                            <div class="line-v line-v-3">
                                <div class="lv3-tb line-v-3-top color-light"></div>
                                <div class="lv3-tb line-v-3-bottom color-dark"></div>
                            </div>
                            <div class="line-v line-v-4 color-light"></div>
                            <div class="line-v line-v-5 color-dark"></div>
                        </div>
                        <div class="bks-lh bks-lh-2">
                            <div class="connector connector-r"></div>
                            <div class="line-h color-dark"></div>
                            <div class="connector connector-l"></div>
                        </div>
                        <div class="bks-vl bks-bottom">
                            <div class="line-v line-v-1 color-dark"></div>
                            <div class="line-v line-v-2 color-dark"></div>
                            <div class="line-v line-v-3 color-dark"></div>
                            <div class="line-v line-v-4 color-dark"></div>
                        </div>
                    </div>
                    <div class="bow-tie">
                        <div class="rl-bt btr"></div>
                        <div class="rl-bt btl"></div>
                    </div>
                    <div class="bow-tie-shadow">
                        <div class="bts-rl bts-r"></div>
                        <div class="bts-m"></div>
                        <div class="bts-rl bts-l"></div>
                    </div>
                </div>
                <div class="body-bottom">
                    <div class="arms">
                        <div class="rl-arms right-arm">
                            <div class="rl-hands hand"></div>
                            <div class="rl-wrists wrist"></div>
                        </div>
                        <div class="rl-arms left-arm">
                            <div class="rl-hands hand"></div>
                            <div class="rl-wrists wrist"></div>
                        </div>
                    </div>
                    <div class="legs">
                        <div class="rl-legs right-leg">
                            <div class="rl-shins shin">
                                <div class="rl-foots foot"></div>
                            </div>
                        </div>
                        <div class="rl-legs left-leg">
                            <div class="rl-shins shin">
                                <div class="rl-foots foot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow slide-shadow"></div>
    </main>
</body>
</html>